<ion-view view-title="Browse" ng-init="callBrowser()">
  <ion-content>
      <h1>{{ePubURL}}</h1>
      <div id="main">
          <div id="prev" ng-click="BookprevPage()" class="arrow">&lt;</div>
          <div id="area"></div>
          <div id="next" ng-click="BooknextPage();" class="arrow">&gt;</div>
      </div>
  </ion-content>
</ion-view>
