<ion-modal-view class="modalview">
  <ion-header-bar>
    <h1 class="title">Information</h1>
    <div class="buttons">
        <i class="demo-icon icon-cancel" style="font-size: 32px;"  ng-click="closeinfoModal()"></i>
      <!--<button class="button button-clear" ng-click="closeinfoModal()">Close</button>-->
    </div>
  </ion-header-bar>
  <ion-content class="mainscreen innermodal">
      <h3 style="color: #a78870; text-decoration: underline; text-align:center;    margin-top: 20px;">The Brand</h3>
      <p style="text-align: center;">Established in 1942, Carlos Santos is based in the North of Portugal and has a long experience of innovating in products for men. </p>
      <p style="text-align: center;">Even today, Carlos Santos is one of the few Portuguese companies in the area to apply the Goodyear Welted system, a manual technique in which machines play a secondary role.</p>
      </br>
      <h3 style="color: #a78870; text-decoration: underline; text-align:center;">Address</h3>
      <p style="text-align: center;">ZARCO, FABRICA DE CALCADO, L.DA</p>
      <p style="text-align: center;">Oliveira Figueiredo. N 182 3700-202, Sao Joao da Madeira, Portugal</p>
      </br>
      <h3 style="color: #a78870; text-decoration: underline; text-align:center;">Customer Care</h3>
      <p style="text-align: center;">If you have any problem placing an order, please contact us.</p>
      <p style="text-align: center;">+ 351 256 837 080 From 9am to 6pm GMT</p>
      </br>
      </br>
  </ion-content>
</ion-modal-view>
