<ion-modal-view class="modalview" cache-modal-view="false" >
    <ion-header-bar>
        <h1 class="title">{{productcode}}</h1>
        <div class="buttons">
            <i class="demo-icon icon-cancel" style="font-size: 32px;" ng-click="closepdfModal()"></i>
            <!--<button class="button button-clear" ng-click="closepdfModal()">Close</button>-->
        </div>
    </ion-header-bar>
    <ion-content class="mainscreen innermodal">
        <h2 class="pdfmodelh2" ng-show="images.length != 0" >{{firstName}}</h2>
        <div style="height:50%;    margin-top: 2%;" ng-show="images.length != 0" class="firstVideoDiv" data-name="{{firstName}}" data-image="{{firstImage}}" data-video="{{videoUrl}}">
            <img src="{{firstImage}}" id="productfirstImage" style="width:100%;">            
        </div>
        <div ng-show="images.length == 0">
            <p style="font-size: 40px;margin: 55% 0 0 0">Sorry!!! <br /><br /><br />No data Found</p>
        </div>
        <div>
            <img id="videoImage" style="width: 58px;position: absolute;top: 25%;left: 70%;z-index: 999999999;" src="img/SAPATO 360.jpg" ng-click="toggleImageVideo()"/>
        </div>

        <div style="height:5%"></div>

        <div class="demo" ng-show="images.length != 0">
            <div class="item-demo">
                <div class="clearfix">
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        <li data-thumb="{{img.thumbnail}}" ng-click="BindOriginalImage('{{img.image}}','{{img.video}}','{{img.firstName}}')" ng-repeat="img in images" >
                            <img src="{{img.thumbnail}}" style="width:150px"/>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
</ion-content>
</ion-modal-view>
<style>
    ul {
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }
    .pdfmodelh2 {
        position: relative !important;
        top: 0 !important;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 44px !important;
    }
    .demo .item-demo {
        margin-bottom: 60px;
    }

    .content-slider li {
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }

    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }

    .demo {
        width: 100%;
    }

</style>