﻿<ion-view hide-back-button="false" cache-view="false" enable-menu-with-back-views="true" ng-init="loadWhereApi()">
    <ion-nav-bar class="bar-stable main-header-nav home-page">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar>
        <h1 class="title">
            <img style="width: 55%;height: 30px;" src="img/logo_CarlosSantos.png" />
        </h1>
    </ion-header-bar>
    <ion-content>

        <div class="list has-header padding">
            <label class="item item-input item-select">
                <div class="col col-60">
                    <b>
                        Select Country
                    </b>
                </div>
                <div class="col col-40">
                    <select  ng-model="country" ng-change="changeStore(country)" id="countryitem">
                        <option value="">----Select----</option>
                        <option ng-repeat="Countries in getCountriesList" value="{{Countries.id}}">{{Countries.name}}</option>
                    </select>
                </div>
                </label><br /><br />
        </div>
        <ion-list >
            <ion-item class="card" ng-repeat="Store in getStores">
                <div class="item item-text-wrap">
                    <b>{{Store.name}}</b> <br />
                    {{Store.street}} <br />
                    <button class="button-bar button-clear button-positive" ng-click="openLink(Store.link)">{{Store.link}}</button>
                </div>
            </ion-item>
        </ion-list>
        <div class="clear"></div>
    </ion-content>

    
