﻿<ion-view title="Flashlight">


  <ion-content scroll="false" padding="true">

    <button ng-click="on()" class="button button-block button-energized">On</button>

    <button ng-click="off()" class="button  button-block button-dark">Off</button>

  </ion-content>
</ion-view>
