﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/animation.css" rel="stylesheet" />
 

    <!--<link href="css/social-codes.css" rel="stylesheet" />
    <link href="css/social-embedded.css" rel="stylesheet" />
    <link href="css/social-ie7-codes.css" rel="stylesheet" />
    <link href="css/social-ie7.css" rel="stylesheet" />
    <link href="css/social.css" rel="stylesheet" />-->
    


       <link href="css/icons-carlossantosapp-codes.css" rel="stylesheet" />
    <link href="css/icons-carlossantosapp-embedded.css" rel="stylesheet" />
    <link href="css/icons-carlossantosapp-ie7-codes.css" rel="stylesheet" />
    <link href="css/icons-carlossantosapp-ie7.css" rel="stylesheet" />
    <link href="css/icons-carlossantosapp.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/platformOverrides.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ng-cordova-master/dist/ng-cordova.min.js"></script>
    <!--<script src="lib/ng-cordova-master/dist/ng-cordova.js"></script>-->
    <!--<script src="cordova.js"></script>-->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/common.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/epub.min.js"></script>
    <script src="js/zip.min.js"></script>
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <link href="css/material.min.css" rel="stylesheet" />
    <script src="css/material.min.js"></script>
</head>
<body ng-app="starter">
    <div id="custom-overlay">
        <div>
            
        <!--</div>
        <div>-->
            <p>
                <!--<img src="img/small-logo.png" />-->
                <img src="img/logo_CarlosSantos.png" style="width:70%"/>
                <br />
                <i class="demo-icon icon-spin2 animate-spin" style="color: #fff;bottom: 10%;font-size: 32px;position: absolute;margin-left: -3%;"></i>
            </p>
        </div>
            <!--<img src="img/loading_spinner.gif" />-->
            <!--<img src="http://img3.wikia.nocookie.net/__cb20130530125633/logopedia/images/3/37/Coca-Cola-Logo.jpg">-->
        </div>
    <div id="myNavLoader" class="overlay" style="display:none">
        <!--<div style="width:80%;margin:auto;">
            <progress id="progressbar" max="100" value="{{ downloadProgress }}"> </progress>
        </div>-->
        <!-- Overlay content -->
        <div class="overlay-content">
            <!--<div style="color: #fff;">Loading...</div>-->
            <!--<progress id="progressbar" max="100" value="{{ downloadProgress }}"> </progress>-->
            <!-- MDL Progress Bar with Indeterminate Progress -->
            <!--<div id="progressbar" class="mdl-progress mdl-js-progress"></div>-->
            <!--<div id="progressbar" class="mdl-progress mdl-js-progress"></div>-->
            <progress id="progressbar" max="100" value="0"> </progress>

        </div>
    </div>
    <ion-nav-view></ion-nav-view>
</body>
</html>
