﻿<ion-modal-view class="modalview" cache-view="false" >
    <ion-nav-bar class="bar-stable main-header-nav home-page">
        <ion-nav-buttons side="right">
            <i class="demo-icon icon-cancel" style="font-size: 32px;" ng-click="closeepubModal()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-header-bar>
      <h1 class="title">
          <img style="width: 55%;height: 30px;" src="img/logo_CarlosSantos.png" /> 
      </h1>
    <!--<div class="buttons">
        <i class="demo-icon icon-cancel" style="font-size: 32px;" ng-click="closeepubModal()"></i>
      
    </div>-->
  </ion-header-bar>
  <ion-content>
      <div id="main">
          <div id="prev" ng-click="BookprevPage()" class="arrow">&lt;</div>
          <div id="area"></div>
          <div id="next" ng-click="BooknextPage();" class="arrow">&gt;</div>
      </div>
  </ion-content>
</ion-modal-view>
