﻿<ion-view hide-nav-bar="true"  ng-init="loadMainText()">
    <ion-content>
        <div ng-show="HideVideo == false" class="overlay" id="videodiv" style="background: #000;display:none">
            <video class="overlay-content" autoplay style="width: 100%;position: fixed;z-index: 9999;">
                <source src="{{videoSrcApply}}" type="video/mp4" />
            </video>
        </div>
        <ion-slide-box class="mainscreen homepage"  active-slide="slideIndex" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="text in MainscreenText track by $index" style="background-color:{{text.solidColor}};color:{{text.fontColor}};min-height:{{clientHeight}}">
                <div ng-show="text.backgroundImage == ''">
                    <h1><img style="height: 60px;" src="img/small-logo.png" /></h1>
                    <p ng-bind-html="text.content" style="margin: 0 35px;">
                    </p>
                    <!--<p ng-show="$index + 1 != MainscreenText.length">
                        <i class="demo-icon icon-right-open" ng-click="next()"></i>
                    </p>
                    <p ng-show="$index + 1 == MainscreenText.length">
                        <i class="demo-icon icon-down-open"></i>
                    </p>-->
                    <div class="catalogtxt" ng-click="openProductList()" ng-show="$index + 1 == MainscreenText.length">
                        view catalogue
                    </div>
                </div>
                <div ng-show="text.backgroundImage != ''">
                    <h1><img style="height: 60px;" src="img/small-logo.png" class="mainscreenimage"/></h1>
                    <h2 style="color:{{text.fontColor}};" ng-click="openBrowser('http://cs.innfocus.pt/api/getFile/{{text.pdf}}')">{{text.title}}</h2>
                    <img  src="http://cs.innfocus.pt{{text.backgroundImage}}" style="height:{{clientImgHeight }};margin: 0 15%;width: 70%;" />
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
        <!--<div class="float-button">
            <div class="height_fix">
                <i class="demo-icon icon-info c-b" style="padding-right: 10px;" ng-click="openinfoModal()"></i>
                <i class="demo-icon icon-cog c-b" ng-click="opensettingModal()"></i>
            </div>
        </div>-->
</ion-view>
