﻿<ion-view hide-back-button="false"  cache-view="false" enable-menu-with-back-views="true" ng-init="loadProduct()">
    <ion-nav-bar class="bar-stable main-header-nav home-page">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar>
        <h1 class="title">
            <img style="width: 55%;height: 90%;" src="img/logo_CarlosSantos.png" /> </h1>
    </ion-header-bar>
    <ion-content class="productlist">
        <!--<div class="col-5" ng-repeat="product in productsList">-->


        <div class="col-5" style="height:200px;" ng-repeat="product in productsList">
            <img src="http://cs.innfocus.pt{{product.cover}}" ng-click="openBrowser('http://cs.innfocus.pt/api/getFile/{{product.pdf}}')"/>
            <p ng-click="openBrowser('http://cs.innfocus.pt/api/getFile/{{product.pdf}}')"> {{product.ref}}</p>
        </div>
        <div class="clear"></div>
        <!--<div>
            <progress id="progressbar" max="100" value="{{ downloadProgress }}"> </progress>
        </div>-->

        <!--<div id="divid">
            Book.renderTo(element)
            Appends the iframe that will contain the rendered book to a element.
            Returns a promise with the render object after the first chapter has been loaded
        </div>
        <hr />
        <div id="divid1">
            Book.renderTo(element) :::::::::::1       
            Appends the iframe that will contain the rendered book to a element.
            Returns a promise with the render object after the first chapter has been loaded
        </div>-->
        <div class="clear"></div>
    </ion-content>
  
    <!--<div class="float-button">
        <div class="height_fix">
            <i class="demo-icon icon-info c-b" style="padding-right: 10px;" ng-click="openinfoModal()"></i>
            <i class="demo-icon icon-cog c-b" ng-click="opensettingModal()"></i>
        </div>
    </div>-->
</ion-view>
