﻿<ion-view title="Media">
  <ion-content padding="true">

    <br>
    <div class="button button-block" ng-click="playMedia()">Play</div>


    <p>{{media}}</p>
    <div class="button button-block" ng-click="stopMedia()">Stop</div>
  </ion-content>
</ion-view>
