﻿<ion-view title="Menu">
  <ion-content>
    <div class="list">

      <a class="item item-icon-right" ui-sref="appAvailability">
        <i class="icon ion-information-circled"></i>
        App Availability
      </a>

      <a class="item item-icon-right" ui-sref="appRate">
        <i class="icon ion-chatbox-working"></i>
        App Rate
      </a>

      <a class="item item-icon-right" ui-sref="barcodeScanner">
        <i class="icon ion-ios7-barcode positive"></i>
        Barcode Scanner
      </a>

      <a class="item item-icon-right" ui-sref="batteryStatus">
        <i class="icon ion-battery-charging assertive"></i>
        Battery Status
      </a>

      <a class="item item-icon-right" ui-sref="beacon">
        <i class="icon ion-location"></i>
        Beacon
      </a>

      <a class="item item-icon-right" ui-sref="camera">
        <i class="icon ion-ios7-camera"></i>
        Camera
      </a>

      <a class="item item-icon-right" ui-sref="clipboard">
        <i class="icon ion-ios7-copy"></i>
        Clipboard
      </a>

      <a class="item item-icon-right" ui-sref="contacts">
        <i class="icon ion-person-stalker balanced"></i>
        Contacts
      </a>

      <a class="item item-icon-right" ui-sref="datePicker">
        <i class="icon ion-ios7-calendar-outline"></i>
        Date picker
      </a>

      <a class="item item-icon-right" ui-sref="device">
        <i class="icon ion-iphone"></i>
        Device
      </a>

      <a class="item item-icon-right" ui-sref="deviceMotion">
        <i class="icon ion-radio-waves assertive"></i>
        Device Motion
      </a>

      <a class="item item-icon-right" ui-sref="deviceOrientation">
        <i class="icon ion-compass"></i>
        Device Orientation
      </a>

      <a class="item item-icon-right" ui-sref="dialogs">
        <i class="icon ion-chatbubbles"></i>
        Dialogs
      </a>

      <a class="item item-icon-right" ui-sref="emailComposer">
        <i class="icon ion-ios7-email"></i>
        Email Composer
      </a>

      <a class="item item-icon-right" ui-sref="facebook">
        <i class="icon ion-social-facebook positive"></i>
        Facebook
      </a>

      <a class="item item-icon-right" ui-sref="file">
        <i class="icon ion-folder"></i>
        File
      </a>

      <a class="item item-icon-right" ui-sref="fileTransfer">
        <i class="icon ion-ios7-cloud-download positive"></i>
        File Transfer
      </a>

      <a class="item item-icon-right" ui-sref="fileOpener2">
        <i class="icon ion-folder"></i>
        FileOpener2
      </a>

      <a class="item item-icon-right" ui-sref="flashlight">
        <i class="icon ion-flash energized"></i>
        Flashlight
      </a>

      <a class="item item-icon-right" ui-sref="geolocation">
        <i class="icon ion-pin assertive"></i>
        GeoLocation
      </a>

      <a class="item item-icon-right" ui-sref="globalization">
        <i class="icon ion-earth balanced"></i>
        Globalization
      </a>

      <a class="item item-icon-right" ui-sref="healthkit">
        <i class="icon ion-heart balanced"></i>
        HealthKit
      </a>

      <a class="item item-icon-right" ui-sref="inAppBrowser">
        <i class="icon ion-iphone"></i>
        In App Browser
      </a>

      <a class="item item-icon-right" ui-sref="localNotification">
        <i class="icon ion-alert assertive"></i>
        Local Notification
      </a>

      <a class="item item-icon-right" ui-sref="media">
        <i class="icon ion-ios7-film"></i>
        Media
      </a>

      <a class="item item-icon-right" ui-sref="network">
        <i class="icon ion-connection-bars"></i>
        Network
      </a>

      <a class="item item-icon-right" ui-sref="preferences">
        <i class="icon ion-settings"></i>
        Preferences
      </a>


      <a class="item item-icon-right" ui-sref="printer">
        <i class="icon ion-printer"></i>
        Printer
      </a>

      <a class="item item-icon-right" ui-sref="pushNotifications">
        <i class="icon ion-arrow-up-a"></i>
        Push Notifications
      </a>

      <a class="item item-icon-right" ui-sref="socialSharing">
        <i class="icon ion-share"></i>
        Social Sharing
      </a>

      <a class="item item-icon-right" ui-sref="sqlite">
        <i class="icon ion-drag"></i>
        SQLite
      </a>

      <a class="item item-icon-right" ui-sref="statusbar">
        <i class="icon ion-minus"></i>
        Statusbar
      </a>

      <a class="item item-icon-right" ui-sref="toast">
        <i class="icon ion-ios7-chatboxes"></i>
        Toast
      </a>

      <a class="item item-icon-right" ui-sref="touchid">
        <i class="icon ion-ios7-circle-filled"></i>
        TouchID
      </a>

      <a class="item item-icon-right" ui-sref="vibration">
        <i class="icon ion-arrow-expand"></i>
        Vibration
      </a>

      <a class="item item-icon-right" ui-sref="upsPushNotifications">
        <i class="icon ion-arrow-up-a"></i>
        Unified Push Notifications
      </a>

      <a class="item item-icon-right" ui-sref="about">
        About
      </a>
    </div>

  </ion-content>
</ion-view>
