<ion-view hide-back-button="false"  cache-view="false" enable-menu-with-back-views="true" ng-init="loadAbout()">
    <ion-nav-bar class="bar-stable main-header-nav home-page">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar>
        <h1 class="title">
            <img style="width: 55%;height: 30px;" src="img/logo_CarlosSantos.png" /> </h1>
    </ion-header-bar>
    <ion-content class="mainscreen ">
        <ion-slide-box>
            <ion-slide>
                <img src="img/img01.jpg" style="width:100%;height:350px;margin:auto;display:block">
            </ion-slide>
            <ion-slide>
                <img src="img/img02.jpg" style="width:100%;height:350px;margin:auto;display:block">
            </ion-slide>
        </ion-slide-box>
        <br />
        <p style="margin: 0 35px;">{{aboutText}}</p>
        <div class="clear"></div>
    </ion-content>
</ion-view>
