﻿<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar style="background: #fff;font-size: 32px;">
            <!--<h1 class="title">Left</h1>-->
            <i class="demo-icon icon-cancel" menu-close></i>
        </ion-header-bar>
        <ion-content class="leftmenu">
            <ion-list>
                <ion-item menu-close href="#/app/home">
                    HOME
                </ion-item>
                <ion-item menu-close href="#/app/aboutus">
                    ABOUT
                </ion-item>
                <ion-item menu-close ng-click="buyOnline()">
                    <a class="item-content" href="javascript:void(0)">
                        BUY ONLINE
                    </a>
                </ion-item>
                <ion-item menu-close href="#/app/wherepage">
                    POINTS OF SALE
                </ion-item>
                <!--<ion-item menu-close ng-click="opensamplePDF()">
                    <a class="item-content" href="javascript:void(0)">
                        IMAGE
                    </a>
                </ion-item>-->
                <ion-item menu-close ng-click="openinfoModal()">
                    <a class="item-content" href="javascript:void(0)">
                        INFORMATION
                    </a>
                </ion-item>
                <ion-item menu-close>
                    <a class="item-content" ng-click="openFacebook()" href="javascript:void(0)" style="float:left">
                        <i class="demo-icon icon-facebook-circled"></i>
                    </a>
                    <a class="item-content" href="javascript:void(0)" style="float:left" ng-click="openPintrest()" >
                        <i class="demo-icon icon-pinterest-circled"></i>
                    </a>
                    <a class="item-content" href="javascript:void(0)" ng-click="openInstagram()" style="float:left">
                        <i class="demo-icon icon-instagram"></i>
                    </a>
                    <a class="item-content" href="javascript:void(0)" ng-click="openYoutube()" >
                        <!--<i class="demo-icon icon-youtube-squared"></i>-->
                        <i class="demo-icon icon-youtube-squared"></i>
                    </a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
