﻿
.icon-cog:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */

.icon-youtube-squared:before {content: '\f166';}
/* '' */
.icon-instagram:before {content: '\f16d';}
/* '' */
.icon-facebook-circled:before {content: '\f30d';}
/* '' */
.icon-pinterest-circled:before {content: '\f313';}
/* '' */