﻿/* Empty. Add your own CSS if you like */
@font-face {
    font-family: "JansonText56";
    src: url("JansonTextLTStd-Italic.otf") format('opentype');
}
@font-face {
    font-family: "MetaProBold";
    src: url("MetaPro-Bold.otf") format('opentype');
}
.leftmenu {
    font-family: "MetaProBold" !important;
}
    .leftmenu .item {
        border-color: #fff;
    }
        .leftmenu .item a {
            font-size: 25px
        }
#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: black;
    text-align: center;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
    #custom-overlay h1 {
        color: #fff;
        padding-top: 10%;
        font-size: 60px;
        font-family: "JansonText56";
    }
    #custom-overlay img {
        padding-top: 0%;
    }
.mainscreen {
    background: #fff;
}
.bar-stable .button.button-icon {
    color: #fff;
}
.productlist {
    background: #fff;
    margin-top: 20px;
}
.mainscreen h1 {
    color: #a7a9ac;
    font-family: "JansonText56";
    padding-top: 15%;
    text-align: center;
    font-size: 70px;
}
.mainscreen h2 {
    color: #a7a9ac;
    font-family: "JansonText56";
    padding-top: 15%;
    text-align: center;
    font-size: 25px;
}
.mainscreen p {
    color: #a7a9ac;
    font-family: "JansonText56";
    text-align: center;
    line-height: 25px;
    font-size: 22px;
    padding: 15px;
    font-weight: normal;
    text-decoration: underline;
}
.bottom-right-info {
    position: fixed;
    bottom: -20px;
    right: 60px;
    font-size: 20px;
    color: #fff;
}
.bottom-right-setting {
    position: fixed;
    bottom: -20px;
    right: 20px;
    font-size: 20px;
    color: #fff;
}
.c-b {
    color: #000;
}
.productlist h1 {
    font-size: 25px;
    padding-top: 20px;
    color: #000;
    font-family: "JansonText56";
    text-align: center;
}
.col-5 {
    color: #000;
    font-family: "JansonText56";
    text-align: center;
    font-size: 16px;
    height: 160px;
}
.col-5 {
    float: left;
    width: 50%;
    /*padding: 1.5%;*/
    height: 1.5%;
}
        .col-5 img {
            max-width: 100%;
            /*max-height: 120px;*/
            /*box-shadow: 4px 4px 5px #888888;*/
        }
        .col-5 p {
            text-decoration: underline;
            font-size: 22px;
        }
 .clear {
    clear: both;
}
.modalview {
    color: #fff;
    font-family: "JansonText56";
    text-align: center;
    font-size: 16px;
}
.bar-header{
    background:#000;
}
    .bar-header h1 {
        color: #fff;
        font-family: "JansonText56";
        text-align: center !important;
        font-size: 25px !important;
    }

.fixed-outside {
    position: absolute;
    bottom: 6%;
    color: white;
    width: 100%;
    /* height: 80px; */
    text-align: center;
}

.has-bottom .scroll {
    padding-bottom: 120px !important;
}

.button-circle {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}
.catalogtxt {
    color: #a7a9ac;
    font-family: "JansonText56";
    text-align: center !important;
    font-size: 26px !important;
    /*border:1px solid #ececec;*/
    padding: 8px 8px;
    width: 50%;
    /*border-radius:18px;*/
    margin: auto;
}
.float-button {
    border-radius: 50%;
    width: 80px;
    font-size: 22px;
    background: $warning;
    position: fixed;
    right: 20px;
    z-index: 9999;
    color: #fff;
    bottom: 22px;
}

    .float-button .height_fix {
        margin-top: 100%;
    }

    .float-button .content {
       border-radius: 50%;
    width: 50px;
    padding: 30px;
    font-size: 22px;
    background: $warning;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    color: #fff;
    }
.swiper-pagination-bullet {
    background: #fff;
}

/*.slider-pager{
    display:none;
}*/


#main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#area {
    width: 80%;
    height: 80%;
    margin: 5% auto;
    max-width: 1250px;
    background:#fff !important;
}

    #area iframe {
        border: none;
    }

#prev {
    left: 40px;
}

#next {
    right: 40px;
}

.arrow {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    font-size: 64px;
    color: #E2E2E2;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

    .arrow:hover {
        color: #777;
    }

    .arrow:active {
        color: #000;
    }

#loader {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin: -33px 0 0 -33px;
}

#toc {
    position: absolute;
    top: 0;
    left: 0;
}

#custom-overlay div {
    position: relative;
    height: 100%;
    width: 100%;
}

    #custom-overlay div img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
/*#custom-overlay div img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}*/
.innermodal p
{
    text-decoration:none;
}
#progressbar {
    width: 80%;
    margin: auto;
}
.mainscreen h2 {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.demo-icon {
    font-family: "social";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}