﻿<ion-view title="Touch ID">
	<ion-content>

		<h1 class="text-center">Touch ID</h1>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="prompt()">
        Authenticate
			</button>
		</div>
	</ion-content>
</ion-view>
