﻿<ion-view title="Date picker">
	<ion-content>

		<div class="list">

			<div class="item">

				{{ data.date }} <br>

				<button class="button button-block button-positive"
					ng-click="pick('date')">pick date</button>
			</div>

			<div class="item">

				{{ data.time }} <br>

				<button class="button button-block button-positive"
					ng-click="pick('time')">pick time</button>

			</div>

		</div>

	</ion-content>
</ion-view>
